#estilo-redes{
    background: #ffd89b;
    background: -webkit-linear-gradient(to right, #19547b, #ffd89b);
    background: linear-gradient(to right, #19547b, #ffd89b);
    height: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: list-item;
    padding: 10px 0;

    
    #titulo-redes{
        text-align: center;
        font-weight: 300;
        color: antiquewhite;
        text-decoration: underline;
        }
        #enlace-yt{
            width: 560px;
            height: 315px;
        }
        #enlace-spotify{
            width: 300px;
            height: 380px;
        }        
}
