//map
$color-blanco: white;
//mixin
@mixin parrafos {
    text-decoration: solid;
    display: flex;
    padding: 20px;
    text-align: center;
    color: $color-blanco;
    height: 2fr;
}
//map get
$Estilos:(
  centro: center,
  fuente: 10px,
);
//Index
#index-estilo{
background-image: url(../sistema-automatico-riego/img/);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: $color-blanco;
  background-blend-mode: soft-light;
  background-color: rgb(100, 100, 100);
}
.parrafo-index{
  @include parrafos()
}