/*index*/
#index-estilo{
    background-size: cover;
    background-attachment: local;
    background-image: url(/sistema-automatico-riego/img/plantas-nocturnas.jpg);
    height: 672px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    align-items: center;
    background-blend-mode: soft-light;
    background-color: rgb(100,100,100)
 }
 .parrafo-index{
     text-decoration:solid;
     display: flex;
     padding: 20px;
     text-align:center;
     color: white;
     height: 2fr;
 }
 /*medio-ambiente*/
 .medio-ambiente{
     background-repeat: no-repeat;
     background-position: center;
     background-attachment:local;
     background-size: cover;
     position: relative;
     align-items: center;
     height: 600px;
     background-image: url(../sistema-automatico-riego/img/background-medio-ambiente.jpg);
     background-color: rgb(100,100,100);
     background-blend-mode: soft-light;
 }
 .parrafo-ambiente{
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     color:white;
     text-align: center;
     padding: 10px 20px;
 }
/*contacto*/
 @import url('https://fonts.googleapis.com/css2?family=Anek+Odia&family=Permanent+Marker&family=Source+Sans+Pro:ital,wght@0,700;1,200;1,700&display=swap');
 
 .general{
 background: #c2e59c;
 background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
 background: linear-gradient(to right, #64b3f4, #c2e59c);
 font-family: 'Anek Odia', sans-serif;
 display:flex;
 min-height: 100vh;
 }
 .form{
     background-color: white;
     margin: auto;
     width: 90%;
     max-width: 400px;
     padding: 4.5em 3em;
     border-radius: 10px;
     box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
     text-align: center;
 }
 .form-title{
     font-size: 2rem;
     margin-bottom: .5em;
     }
 .form-paragraph{
     font-weight: 300;
 }
 .form-link{
     font-weight: 400;
     color: black;
 }
 .form-container{
     margin-top: 3em;
     display: grid;
     gap: 2.5em;
 }
 .form-group{
     position: relative;
     --color: #5757577e;
 }
 .form-input{
     width: 100%;
     background: none;
     color: #706c6c;
     font-size: 1rem;
     padding : .6em .3em;
     border: none;
     outline: none;
     border-bottom: 1px solid var(--color);
     }
 .form-input:focus + .form-label,
 .form-input:not(:placeholder-shown) + .form-label{
     transform: translateY(-12px) scale(.7);
     transform-origin: left top;
     color: blue;
 }
 .form-label{
     color:var(--color);
     cursor: pointer;
     position: absolute;
     top: 0;
     left: 5px;
     transform: translateY(10px);
     transition: transform .5s, color .3s;
 }
 .form-submit{
     background-color: blue;
     color: white;
     font-weight: 300;
     font-size: 1rem;
     padding: .8em 0;
     border: none;
     border-radius: .5em;
 }
 .form-line{
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 1px;
     background-color: blue;
     transform: scale(0);
     transform: left bottom;
     transition: transform .4s;
 }
 @media (max-width:425px){
     font-size: 1.8rem;
 }
/*Pie de Pagina*/
.pie-pagina{
    width: cover;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
/*Riego nuevo*/
.riego-nuevo{
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 20px;
    margin: 0%;
}
.goteo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0%;
}
.secciones{
    background: #c2e59c;
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
    background: linear-gradient(to right, #64b3f4, #c2e59c);
    display: flex;
    align-items: center;
    padding: 40px;
    margin: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
