/*index*/
#index-estilo{
    justify-content:center;
    color:white;
    text-align: center;
    background-image: url(../sistema-automatico-riego/img/plantas-nocturnas.jpg);
    background-position:center;
    padding: 10px;
    width: cover;
    height: 672px;
    background-blend-mode: soft-light;
    background-color: rgb(100,100,100)
}
.parrafo-index{
    text-decoration:solid;
    display: flex;
    padding: 20px;
    text-align:center;
    color: white;
    height: 2fr;
}
/*riego*/
.grid-layout{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 70% auto;
}
.caja{
    border: 2px solid black;
    background-color: lightgray;
    line-height: 18px;
    padding: 60px;
    text-align:center;
    margin: 5px;
}
.caja:nth-child(1){
    padding: 5px;
}
.caja:nth-child(2){
    background-image: url(../sistema-automatico-riego/img/reigoGravedad.jpg);
    background-size: 346px 402px;
    background-repeat: no-repeat;
    background-position: center;
}
.caja:nth-child(4){
    background-image: url(../sistema-automatico-riego/img/riego-aspersion.jpg);
}
.caja:nth-child(6){
    background-image: url(../sistema-automatico-riego/img/riego-localizado.jpg);
    background-size: 420px 362px;
    background-repeat: no-repeat;
}
.caja:nth-child(8){
    background-image: url(../sistema-automatico-riego/img/riego-subterraneo.jpg);
}
/*medio-ambiente*/
.medio-ambiente{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:local;
    background-size: cover;
    position: relative;
    align-items: center;
    background-image: url(../sistema-automatico-riego/img/background-medio-ambiente.jpg);
    background-color: rgb(100,100,100);
    background-blend-mode: soft-light;
}
.parrafo-ambiente{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    text-align: center;
    padding: 10px 20px;
}
/*contacto*/
#form{
    background: #4CA1AF;
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);
    background: linear-gradient(to right, #C4E0E5, #4CA1AF);
    height: cover;
    align-items: center;
    justify-content:center;
    text-align: center;
    display:list-item;
    padding: 10px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0 8);
    border-radius: 10px;
    width: 100%;
}        
.titulo{
    text-decoration:underline;
    text-align: center;
    font-weight: 300;
}
.form{
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0 8);
    border-radius: 10px;
    width: 100%;
    margin: auto;
}   
form .grupo{
    text-align: center;
    position:relative;
    margin: 45px;
}
.input{
    text-align: center;
    padding: 10px 10px 10px 5px;
    font-size: 18px;
}
/*redes*/
#estilo-redes{
    background: #283048;
    background: -webkit-linear-gradient(to right, #859398, #283048);
    background: linear-gradient(to right, #859398, #283048);
    height: cover;
    align-items: center;
    justify-content:center;
    text-align: center;
    display:list-item;
    padding: 10px 0;
}         
.titulo-redes{
    text-decoration:underline;
    text-align: center;
    font-weight: 300;
    color: antiquewhite;
}
/*quienes-somos*/
#quienes-somos{
    background: #4B79A1;
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1);
    background: linear-gradient(to right, #283E51, #4B79A1);
    height: cover;
    align-items: center;
    justify-content:center;
    text-align: center;
    display:list-item;
    padding: 10px 0;
}
/*pie-de-pagina*/
#pie-de-pagina ul{
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: black;
    text-align: right;
}
#pie-de-pagina ul li{
        display: inline-block;
}
#pie-de-pagina ul li::after{
    content:"/";
}
#pie-de-pagina ul li:last-child::after{
    content:"";
}
#pie-de-pagina ul li a{
display: inline-block;
padding: 0 1em;
color:black;
}
#pie-de-pagina ul li a:hover{
color: blue;
}